---
import SearchButton from './search-button.astro'
import ThemeButton from './theme-button.astro'

import AvatarSvg from '@assets/avatar.svg'
---

<header
  class="bg-primary-light/50 dark:bg-primary-dark/50 sticky left-0 top-0 z-10 flex w-dvw items-center px-10 py-5 min-[1500px]:h-[120px]"
>
  <nav class="flex w-full items-center justify-between">
    <a href="/" aria-label="Go to homepage"><img src={AvatarSvg.src} class="h-15 w-15" alt="Avatar" /></a>
    <div class="flex items-center gap-5">
      <SearchButton />
      <ThemeButton />
    </div>
  </nav>
</header>
<style lang="less" is:global>
  header nav ul {
    @media screen and (min-width: 768px) {
      justify-content: flex-start !important;
      gap: 2.5rem;

      li:last-child {
        position: absolute;
        right: 2rem;
      }
    }
  }
</style>
